html 
    head 
        title Pruebas
    body
        form(action="/pruebas" method="POST")
            textarea(name="description"  placeholder="coloca aqui el pendiente a realizar") 
            input(type="submit" value="guardar")